<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartattendance">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".SmartAttendanceApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launchercustom"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launchercustom"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HelpActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".StudentCourseDetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".StudentDashboardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".VirtualMap"
            android:screenOrientation="portrait"/>
        <activity android:name=".AddCourseActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CourseDetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".WifiHelper"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TeacherDashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity android:name=".StudentLoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".TeacherLoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Wifi_fun"
            android:screenOrientation="portrait"/>
        <activity android:name=".Bluetooth_fun"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>